*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}


body { 
    overflow-x: hidden;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(2,16,1,1) 37%, rgba(11,101,7,1) 100%);
    background-repeat: no-repeat;
}

header{
    height: 17rem;
}

.container { 

    display: flex;
    align-items: center;
    justify-content: center;
}



.logo{
    width: 100vw;
}

.bussola-fundo{
    margin-top: 20vh;
    width: 40vw;
}

.agulha{
    position: ;
    margin:7vh auto auto 7px;
  
    width: 15vw
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
}




button{
    width: 100px;
    
}

#confimation{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2{
    text-align: center;
    font-size: 20px;
}

@media screen and (max-width: 1400px) {
    .logo{
        width: 100vw;
    }
}


@media screen and (max-width: 1060px) {
    .logo{
        width: 100vw;
    }
}